<template>
  <q-page class="q-pa-xl set-max-width">
    <div class="flex flex-center column q-mb-xl">
      <h1 class="text-h4 text-secondary text-weight-bold">Todo-List Quasar</h1>
      <q-icon name="mdi-format-list-checks" size="xl" color="secondary" />
    </div>

    <h1 class="text-overline text-secondary">O QUE VAMOS FAZER HOJE?</h1>

    <q-input
      v-model="todoStore.newTask"
      @keyup.enter="todoStore.addNewTodo"
      placeholder="Insira uma nova tarefa"
      clearable
      outlined
      rounded
      maxlength="100"
      bg-color="white"
    >
      <template v-slot:prepend />
      <template v-slot:append>
        <q-btn
          @click="todoStore.addNewTodo"
          color="primary"
          icon="send"
          flat
          dense
        />
      </template>
    </q-input>

    <q-list separator dark>
      <p class="text-overline q-mt-lg q-mb-none text-secondary">
        LISTA DE TAREFAS
      </p>
      <q-item
        v-for="todo in todoStore.todolist"
        :key="todo.id"
        :class="{ 'bg-primary opaque': todo.isDone }"
      >
        <q-item-section side>
          <q-checkbox v-model="todo.isDone" color="primary" dark />
        </q-item-section>

        <q-item-section>
          <q-input
            v-model="todo.todo"
            @keyup.enter="todoStore.editTodo(todo)"
            :disable="!todoStore.isEditing"
            dense
            autogrow
            borderless
            dark
          >
            <template v-slot:append v-if="todoStore.isEditing">
              <q-btn @click="todoStore.editTodo(todo)" icon="send" flat dense />
            </template>
          </q-input>
        </q-item-section>

        <q-item-section side>
          <q-btn
            @click="todoStore.toggleEdit"
            icon="edit"
            color="secondary"
            dense
            flat
          />
        </q-item-section>

        <q-item-section side>
          <q-btn
            @click="todoStore.removeTodo(todo)"
            icon="delete"
            color="secondary"
            dense
            flat
          />
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "IndexPage"
});
</script>

<script setup>
import { onMounted, watch } from "vue";
import { useTodoStore } from "stores/todos";

const todoStore = useTodoStore();

onMounted(() => {
  todoStore.fetchTodolist;
});

watch(
  todoStore.todolist,
  (newTodoList) => {
    todoStore.replaceTodolist(newTodoList);
  },
  {
    deep: true
  }
);
</script>

<style>
.opaque {
  opacity: 0.5;
}
</style>
