<template>
  <router-view />
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "App"
});
</script>

<style>
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 27%,
    rgba(147, 120, 255, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
</style>
